@use '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.presentation{
    display: flex;
}
.presentation-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.rectangle {
    background: rgba(134, 192, 140, 0.19);
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 3rem;
    width: 70%;
}
.rectangle h1{
    @include font(45px, 2.05px, 400, variables.$primary-font, variables.$text);
    text-align: center;

}
.rectangle h3{
    @include font(26px, 1.05px, 400, variables.$secondary-font, variables.$accent);
    margin: 0 20vh;
    text-align: left;
}
.roserade-image{
    text-align: center;
}