@use '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.title{
    display: flex;
    justify-content: center;
}

.title p{
    @include font(22px, 1.2px, 400, variables.$primary-font, variables.$text);
    border-bottom: 3px ridge variables.$accent;
    padding-bottom: 0.2rem;
    width: fit-content;
}