.Home{
    background-image: url('https://images.unsplash.com/photo-1544727219-d2ff78f0f148?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1527&q=80');
    background-size: cover;
}
.hexagon{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hexagon svg{
    width: fit-content;
    height: fit-content;
}
.text-inside-hexagon{
    padding: 15vh 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.text-inside-hexagon h1{
    color: #FFF;
    text-align: center;
    font-family: Playfair Display;
    font-size: clamp(1rem, 4vw, 3.4rem);
    letter-spacing: 1.6px;
}
.text-inside-hexagon h3{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.8px;
}

.hero-title{
    display: flex;
    width: 100%;
    background: rgba(29, 29, 29, 0.82);
    height: 393px;
    padding: 0px 50px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
}
.hero-title h1{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.8px;
}
.description-container{
    display: flex;
    height: 228px;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-shrink: 0;
    align-self: stretch;
}
.card{
    display: flex;
    width: 375px;
    height: 200px;
    align-items: center;
    gap: 15px;
}
.icon{
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}
.card h4 {
    color: #FFF;
    text-align: justify;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
}
@media(max-width: 900px) {
    .text-inside-hexagon{ 
        padding: 12vw 4rem; 
        height: auto;
        width: auto;
        gap: 9vw;
    }
    //.text-inside-hexagon h1{ font-size : calc(1.2rem + 1.8vw); }
    .text-inside-hexagon h3{ font-size: 16px; }
}
@media(max-width: 760px) {
    .text-inside-hexagon{ padding: 12vw .1rem; }
}
@media(max-width: 420px){
    .text-inside-hexagon{ padding: 9vw .8rem; }
}