@use '../../assets/styles/variables';
@import '../../assets/styles/mixins';

header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    border: 2px solid variables.$accent;
    background: rgba(29, 29, 29, 0.42);
    backdrop-filter: blur(5.5px);
    grid-area: header;
}
header ul{
    display: flex;
    gap: 3rem;
}
header ul li a{
    text-decoration: none;
    @include font(22px, 1.05px, 400, variables.$primary-font, variables.$secondary);
}
header ul li a:hover { color: variables.$text; }
.navbar-brand { font-size: 1.5rem; }
ul{ list-style-type: none; }
.active-link{
    color: variables.$text;
    border-bottom: 2px solid variables.$text;
}
#layout {
    width: auto;
    height: 768px;
    display: grid;
    grid:
        "header header header" auto
        "leftSide body body" 1fr
        "footer footer footer" auto
        / auto 1fr auto;
    gap: 8px;
}
.main-content {
    grid-area: body;
    height: auto; 
}
footer { 
    background-color: #172A1F;
    box-shadow: 0 0px 16px 16px #000000c9 inset;
    color: white;
    grid-area: footer; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3rem;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0 0.5em;
    padding: 1rem 1rem 0 1rem;
}
.div1 .social-media{
    text-align: center;
}
.social-media div img{
    margin: 0 0.5rem;
}
.div2 .page-links ul li{
    @include font(18px, 1px, 400, variables.$primary-font, variables.$secondary);
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    margin: 0 30%;
}
.div2 .page-links ul li a{
    border-bottom: none;
    text-decoration: none;
}
.div3 .informative-text{
    @include font(1rem, 1.2px, 400, variables.$primary-font, variables.$text);
    text-align: center;
}
.credits{
    background-color: variables.$bodyBackground;
    grid-area: 2 / 1 / 3 / 5;
}
.credits p {
    color: rgba(255, 255, 255, 0.5);
    margin: 1rem 2rem;
}