@use '../../assets/styles/variables';

header {
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-bottom: 1px solid variables.$text;
}
header, .sidebar, .main-content, footer{
    font-family: variables.$primary-font;
}
.navbar-brand { font-size: 1.5rem; }
ul{ list-style-type: none; }
header{
    border: 2px solid #D4B926;
    background: rgba(29, 29, 29, 0.42);
    backdrop-filter: blur(5.5px);
    grid-area: header;
}
header ul{
    display: flex;
    gap: 2rem;
}
header ul li a{
    text-decoration: none;
}
header ul li a:hover { color: variables.$primary; }
.active-link{
    color: variables.$primary;
    border-bottom: 2px solid variables.$primary;
}
#layout {
    width: auto;
    height: 768px;
    display: grid;
    grid:
        "header header header" auto
        "leftSide body body" 1fr
        "footer footer footer" auto
        / auto 1fr auto;
    gap: 8px;
}
.sidebar-links{ padding: 1rem; margin: 1rem auto 0 auto; }
.sidebar { 
    grid-area: leftSide; 
    background-color: aquamarine;
}
.main-content {
    grid-area: body;
    height: auto; 
    background-color: slateblue; 
}
footer { grid-area: footer; background-color: gray;}