@use '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.active-link{
    border-bottom: 2px solid variables.$text;
    color: variables.$text!important;
}
header {
    border: 2px solid variables.$accent;
    background: rgba(29, 29, 29, 0.42);
    backdrop-filter: blur(5.5px);
    display: flex;
    grid-area: header;
    padding: 1rem;
}
header .navbar { 
    align-items: center;
    display: flex;
    flex: auto;
    justify-content: center;
}
header .navbar .nav-elements ul{
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    list-style-type: none;
}
header .navbar .nav-elements ul a:hover { 
    color: variables.$text; 
    text-shadow: 0px 0px 40px variables.$primary;
}
header .navbar .nav-elements ul a{
    @include font(22px, 1.05px, 400, variables.$primary-font, variables.$secondary);
    text-decoration: none;
}
.menu-icon { display: none; }
.main-logo{

}
.nav-elements ul li{
    margin-right: 2rem;
}
.nav-elements ul li a{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
@media (max-width: 1080px){
    header .navbar .nav-elements ul a{
        @include font(18px, 1.05px, 400, variables.$primary-font, variables.$secondary);
    }
    .nav-elements ul li{
        margin-right: 2rem;
    }
    header .navbar .nav-elements ul{
        gap: 1.7rem;
        padding: 0;
    }
}
@media (max-width: 900px){
    .nav-elements ul li{
        margin-right: 0rem;
    }
}
@media (max-width: 768px){
    header .navbar .nav-elements ul a{
        @include font(12px, 1px, 400, variables.$primary-font, variables.$secondary);
    }
    header .navbar .nav-elements ul{ gap: 1.3rem;}
}
@media (max-width: 600px) {
    header{
        border: none;
        background: none;
        justify-content: right;
    }
    header .navbar{
        justify-content: right;
    }
    .menu-icon {
        cursor: pointer;
        display: flex;
        justify-self: end;
    }
    .nav-elements ul {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .nav-elements {
        position: absolute;
        right: -10rem;
        top: 8rem;
        background-color: variables.$background;
        height: calc(100vh - 60px);
        transition: all 0.4s ease-in;
        overflow: hidden;
    }
    .nav-elements.active {
        right: 0;
        width: 100vw;
        z-index: 2;
    }
    header .navbar .nav-elements ul a{
        @include font(26px, 3px, 500, variables.$primary-font, variables.$secondary);
    }
    .nav-elements ul li {
        margin-right: unset;
        margin-top: 3rem;
        text-align: center;
    }
}