@mixin font($f-size, $ls-size, $f-weight, $f-family){
    font-size: $f-size;
    letter-spacing: $ls-size;
    font-family: $f-family;
    font-style: normal;
    font-weight: $f-weight;
    line-height: normal;
}   