@mixin font($f-size, $ls-size, $f-weight, $f-family, $f-color)
{
    color: $f-color;
    font-size: $f-size;
    font-family: $f-family;
    font-style: normal;
    font-weight: $f-weight;
    letter-spacing: $ls-size;
    line-height: normal;
}   